<div class="container">
  <header class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <!-- Logo -->
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img
          src="images/Logo-pes.png"
          alt="Logo"
          class="animation"
          width="70"
        />
      </a>

      <!-- Toggler button for mobile -->
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{#if isAcounts}}
            <li class="nav-item">
              <a href="/accounts" class="nav-link a-color a-active">All
                account's 🔎</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/accounts" class="nav-link a-color">All account's 🔎</a>
            </li>
          {{/if}}

          {{#if isAdd}}
            <li class="nav-item">
              <a href="/add" class="nav-link a-color a-active">Add 🛒</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/add" class="nav-link a-color">Add 🛒</a>
            </li>
          {{/if}}

          {{#if isProfile}}
            <a href="/profile" class="nav-link a-color a-active">Profile 👤</a>
          {{else}}
            <a href="/profile" class="nav-link a-color">Profile 👤</a>
          {{/if}}
        </ul>

        <!-- Right side buttons -->
        <div
          class="d-flex justify-content-center align-items-center gap-2 all-btn"
        >
          {{#if token}}
            <a href="/logout">
              <button type="button" class="btn btn-danger me-2">Logout</button>
            </a>
          {{else}}
            {{#if isLogin}}
              <a href="/login">
                <button
                  type="button"
                  class="btn btn-dark me-2 active"
                >Login</button>
              </a>
            {{else}}
              <a href="/login">
                <button type="button" class="btn btn-dark me-2">Login</button>
              </a>
            {{/if}}
            {{#if isSignup}}
              <a href="/signup">
                <button
                  type="button"
                  class="btn btn-primary active"
                >Sign-up</button>
              </a>
            {{else}}
              <a href="/signup">
                <button type="button" class="btn btn-primary">Sign-up</button>
              </a>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</div>