<div class="container">
  <h1 class="mb-5 title">Account's</h1>
  <div
    id="loader"
    class="loader"
    style="position: fixed; inset: 0; color: white; font-size: 2rem; display: flex; justify-content: center; align-items: center; z-index: 9999;"
  >
    <div class="spinner-border loader-obj" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  {{#if product.length}}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 p-3 card-box">
      {{#each product}}
        <div class="col">
          <div class="card card-in">
            <img
              src="/uploads/{{this.image}}"
              alt="product image"
              width="100%"
              class="img-thumbnail"
              data-bs-toggle="modal"
              data-bs-target="#imageModal{{@index}}"
            />

            <div class="card-body">
              <h5 class="text-bold fw-bold">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <div class="d-flex justify-content-left align-items-center gap-3">
                <p class="mb-3 badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-3">{{getFullNameCharacter user.firstName}}.{{getFullNameCharacter user.lastName}}</p>
                <p class="mb-3 badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-3 score">⭐ {{this.scores}}</p>
                <span class="mb-3 badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-3">{{this.uzs}} so'm 💵</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div
                    class="btn-group-sm d-flex justify-content-center align-items-center gap-2"
                    role="group"
                    aria-label="Basic example">
                    {{#if @root.token}}
                      <a class="btn btn-color rounded-3 btn-sm" href="{{this.url}}">Message</a>
                      {{#ifequal this.user._id @root.userId}}
                        <a type="button" href="/edit-product/{{_id}}" class="btn btn-color rounded-3">Edit</a>
                        <form action="/delete-product/{{_id}}" class="delete-btn">
                         <button
                          type="submit"
                          class="btn btn-dark btn-sm rounded-3">Delete</button>
                        </form>
                      {{/ifequal}}
                      {{else}}
                       <a class="btn btn-color btn-sm rounded-3" href="{{this.url}}">Message</a>
                    {{/if}}
                  </div>
                </div>
                <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-3 time">{{formatData cratedAt}}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="imageModal{{@index}}"
          tabindex="-1"
          aria-labelledby="imageModalLabel{{@index}}"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body text-center">
                <img
                  src="/uploads/{{this.image}}"
                  class="img-fluid"
                  alt="Full image"
                />
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No Product 👀</p>
  {{/if}}
 <div class="d-flex justify-content-center mt-4 align-items-center mb-3">
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-dark d-flex justify-content-center align-items-center gap-2">
      {{#if (gt currentPage 1)}}
        <li class="page-item">
          <a class="btn btn-light page-link text-dark rounded-3" href="/accounts?page={{subtract currentPage 1}}">
           ⬅️ Previous
          </a>
        </li>
      {{/if}}

      {{#if (lt currentPage totalPages)}}
        <li class="page-item">
          <a class="btn btn-light page-link text-dark rounded-3" href="/accounts?page={{add currentPage 1}}">
            Next Page ➡️
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</div>


</div>