<div class="container">
  <h1 class="mb-3 title">My Profile</h1>
  <div
    class="avatar-box p-3 text-start d-flex justify-content-between align-items-center bg-light rounded-3 mb-2 w-50 mx-auto border border-1">
    <p class="mb-0 text-dark">
      {{firstName}}
      {{lastName}}
      |
      {{email}}
    </p>
    <div class="fs-2">👤</div>
  </div>
  {{#if myProduct.length}}
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 p-3 card-box mb-3"
    >
      {{#each myProduct}}
        <div class="col">
          <div class="card card-in">
            <img
              src="/uploads/{{this.image}}"
              alt="product image"
              width="100%"
              class="img-thumbnail"
              data-bs-toggle="modal"
              data-bs-target="#imageModal{{@index}}"
            />

            <div class="card-body">
              <h5 class="text-bold fw-bold">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <div
                class="d-flex justify-content-start align-items-center mb-3 gap-2"
              >
                <div>
                  <a
                    type="button"
                    href="/edit-product/{{_id}}"
                    class="btn btn-color rounded-3 btn-sm"
                  >Edit</a>
                </div>
                <div>
                  <form action="/delete-product/{{_id}}" class="delete-btn">
                    <button
                      type="submit"
                      class="btn btn-dark btn-sm rounded-3"
                    >Delete</button>
                  </form>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <span
                  class="badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-3"
                >{{this.uzs}} so'm 💵</span>
                <span
                  class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-3 time"
                >{{formatData cratedAt}}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="imageModal{{@index}}"
          tabindex="-1"
          aria-labelledby="imageModalLabel{{@index}}"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body text-center">
                <img
                  src="/uploads/{{this.image}}"
                  class="img-fluid"
                  alt="Full image"
                />
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div
      class="d-flex flex-column justify-content-center align-items-center gap-0 mt-5">
      <dotlottie-player
        src="https://lottie.host/cb9d8dda-9409-443f-9679-8a325005916f/1ZArLxtxd6.lottie"
        background="transparent"
        speed="2"
        style="width: 200px; height: 200px"
        loop
        autoplay
      ></dotlottie-player>
      <a href="/add" class="btn btn-dark rounded-3 btn-sm">Add Product</a>
    </div>
  {{/if}}
</div>